
.heroSection {
    margin: 80px auto;
    text-align: center;
}

.heroSection h1 {
    font-size: 2.65rem;
    line-height: 1.1;
}

.breadcrumb {
    font-size: 0.9rem;
    color: var(--color-gray);
}

.breadcrumb a {
    transition: color 0.3s ease;
}

.breadcrumb a:hover {
    color: var(--color-white);
}